<!-- homepage/index.html -->
<!DOCTYPE html>
<html>
<head>
<title>BioDB | Home</title>
</head>
<body>
    <script>
        {% include "homepage/index.js" %}
    </script>

    <h1>Public Bio-Database</h1>
    <p>Welcome to BioDB, where we store biometric data for the public</p>
    <p>
        <button type="button" onclick="onLoginClick()">Login</button>
    </p>
    <p>
        <button type="button" onclick="onRegisterClick()">Register</button>
    </p>
    <p>
        <button type="button" onclick="onAboutClick()">About</button>
    </p>
    <p>
        <button type="button" onclick="onContactClick()">Contact</button>
    </p>

</body>
</html>
